{:duct.core/project-ns  duct-ale
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main duct-ale.client}

 :duct.module/ataraxy
 {[:get "/example"] [:example]}

 :duct-ale.handler/example
 {}}
